<div>
  <div class="flex flex-col gap-2">
    <% @conversation.messages.each do |message| %>
      <div class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
        <div class="flex items-center space-x-2 rtl:space-x-reverse">
          <span class="text-sm font-semibold text-gray-900 dark:text-white"><%= message.sender_user.full_name %></span>
          <span class="text-sm font-normal text-gray-500 dark:text-gray-400"><%= message.created_at.to_date %></span>
        </div>
        <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white"> <%= message.content %></p>
      </div>
    <% end %>
  </div>
  <%= form_for Message.new, method: :create do |f| %>
    <%= f.text_field :content %>
    <%= f.hidden_field 'conversation_id', value: params[:id] %>
    <%= f.submit "send", class: ""  %>
  <% end %>
</div>